<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .nav{
        display: flex;
      
        justify-content: space-between;
    }
    a{
        text-decoration: none;
        color: black;
        font-size: 20px;
        font-weight: bold;
    }
    a:hover{
        background-color: gray;
        border-radius: 10px;
        
    }
    img{
        margin-inline: auto;
        width: 70%;
    }
    .pic{
        display: flex;
        justify-content: center;
    }
</style>
<body>

    <div class="nav">
<a class="Home" href="/">Home</a>
<a class="Reg" href="/register/">Registration</a>
<a class="Log" href="/login/">Login</a>


    </div>

<div class="pic">
    <img src="https://img.freepik.com/premium-vector/vector-illustration-education-skill-building-vocational-training-with-gears-tools-books-education-career-advancement-can-use-ad-poster-campaign-website-apps-social-media_4968-2114.jpg" alt="">
</div>
</body>
</html>